.footer {
  border-top: 1px solid var(--color-gray-100);
  padding: 1rem;
  text-align: center;
}

.footerContent {
  margin: 0 auto;
  max-width: 24rem;
}

.footerContent a {
  color: var(--color-blue);
}
