:root {
  --color-white: #ffffff;
  --color-black: #02001d;
  --color-gray-100: #ecf7ff;
  --color-gray-500: #75747d;
  --color-red: #f65458;
  --color-blue: #4c57c5;
  --color-yellow: #ffde00;

  font-size: 16px;
}

html,
body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
}

/* --- Page --- */

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-footer {
  margin-top: auto;
}

/* --- Footer --- */

.footer-container {
  border-top: 1px solid var(--color-gray-100);
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.footer-content {
  margin: 0 auto;
  max-width: 24rem;
}

.footer-content a {
  color: var(--color-blue);
  border-bottom: 1px solid var(--color-blue);
}

/* --- HeroSection --- */

.hero-container {
  padding: 8rem 2rem;
  text-align: center;
}

.hero-heading {
  font-size: 3rem;
}

.hero-subheading {
  font-size: 1.25rem;
  max-width: 36rem;
  line-height: 1.5;
  margin: 0 auto;
}

.hero-subheading a {
  color: var(--color-blue);
  border-bottom: 1px solid var(--color-blue);
}

.hero-buttons {
  margin-top: 3rem;
}

.hero-buttons .button {
  margin: 0 1rem 1rem;
}

/* --- CardGrid --- */

.card-grid-container {
  margin: 0 auto;
  max-width: 48rem;
}

.card-grid-heading {
  font-size: 2rem;
  text-align: center;
}

.card-grid-subheading {
  text-align: center;
}

.card-grid-cards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  padding: 0 1.5rem;
}

@media (min-width: 600px) {
  .card-grid-cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* --- Card --- */

.card-container {
  border: 2px solid var(--color-gray-500);
  padding: 1rem;
  transition: all 0.35s ease;
}

.card-container:hover {
  border-color: var(--color-blue);
  color: var(--color-blue);
}

.card-subheading {
  line-height: 1.5;
  margin: 0;
}

/* --- Button --- */

.button {
  display: inline-block;
  background-color: var(--color-blue);
  border: 0.125rem solid var(--color-blue);
  font-weight: bold;
  color: var(--color-white);
  padding: 1rem 3rem;
  transition: all 0.35s ease;
}

.button:hover {
  opacity: 0.85;
}

.button.theme-secondary {
  background-color: var(--color-white);
  color: var(--color-blue);
}
