:root {
  --color-white: #ffffff;
  --color-black: #02001d;
  --color-gray-100: #ecf7ff;
  --color-red: #f65458;
  --color-blue: #4c57c5;
  --color-yellow: #ffde00;

  font-size: 16px;
}

html,
body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 0 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
}

/* --- Page --- */

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-footer {
  margin-top: auto;
}

/* --- Footer --- */

.footer-container {
  border-top: 1px solid var(--color-gray-100);
  padding: 1rem;
  text-align: center;
}

.footer-content {
  margin: 0 auto;
  max-width: 24rem;
}

.footer-content a {
  color: var(--color-blue);
}

/* --- HeroSection --- */

.hero-container {
  padding: 4rem 2rem;
  text-align: center;
}

.hero-heading {
  font-size: 3rem;
}

.hero-subheading {
  font-size: 1.25rem;
  max-width: 36rem;
  line-height: 1.5;
  margin: 0 auto;
}

.hero-buttons {
  margin-top: 3rem;
}

.hero-buttons .button {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* --- Button --- */

.button {
  background-color: var(--color-blue);
  border: 0.125rem solid var(--color-blue);
  font-weight: bold;
  color: var(--color-white);
  padding: 1rem 3rem;
}

.button.theme-secondary {
  background-color: var(--color-white);
  color: var(--color-blue);
}
