@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-gray-100;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal
      mb-4;
  }

  a {
    @apply no-underline;
    color: inherit;
  }

  p {
    @apply leading-[1.4]
      mb-4;
  }
}

/* --- Card --- */

@layer components {
  .sb-card:before {
    @apply absolute
      border
    border-blue
      duration-300
      transition-all;

    content: '';
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    transform: translate(0, 0);
    width: calc(100% + 2px);
    z-index: -1;
  }

  .sb-card:hover:before {
    transform: translate(0.33333em, 0.33333em);
  }
}
